
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(0, 0, 0, 1);
        }
        
        .silex-id-1478366444112-0 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1497839454455-0 {
            width: 100px;
            min-height: 100px;
            top: -15px;
            left: 597px;
        }
        
        .silex-id-1497843526908-1 {
            width: 100px;
            min-height: 100px;
            top: 49px;
            left: 56px;
        }
        
        .silex-id-1497843555233-2 {
            width: 100px;
            min-height: 100px;
            top: 178px;
            left: 59px;
        }
        
        .silex-id-1497843617447-4 {
            width: 850px;
            min-height: 234px;
            top: 330px;
            left: 58px;
        }
        
        .silex-id-1497844837054-6 {
            width: 510px;
            background-color: rgb(255, 255, 255);
            min-height: 80px;
            top: 528px;
            left: 816px;
        }
        
        .silex-id-1497845113994-7 {
            width: 339px;
            background-color: rgb(255, 255, 255);
            min-height: 152px;
            top: 155px;
            left: 302px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(0, 0, 0, 1);
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
    